target/
.settings/
.project
.classpath
.checkstyle

# output from autotests
test-output/

# eclipse builders
.externalToolBuilders/

# maitai-server-web arquillian
/jboss-as-7.1.1.Final/

# maven release files
pom.xml.releaseBackup
release.properties